<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="LocalDB" connectionString="Data Source=LT-PE4-29\SQLEXPRESS;Initial Catalog=LeaveManagmentSytem;Persist Security Info=True;User ID=sa;Password=#compaq123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ActiveConnection" value="LocalDB" />
  </appSettings>
</configuration>